/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.page-selector {
    display: inline-block;
    color: #0366d6;
    background-color: rgba(255, 255, 255, 0.00);
    border: none;
}

.page-selector:nth-child(2n) {
    margin-left: 5px;
}

.btn:nth-child(2n) {
    margin-left: 5px;
}

.invalid {
    border-color: red;
}

.loginBox input {
    margin: 3px 0 5px 0;
}

.editBox table input {
    margin-left: 5px;
    width:125%;
}

.editBox > table {
    margin-bottom: 5px;
}